body {
  background-image: url('https://images.unsplash.com/photo-1583997052103-b4a1cb974ce5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sorting-hat, #hat-card {
  display: flex;
  margin-top: 6.5%;
  justify-content: center;
  text-align: center;
  width: 55%;
  background-color: transparent;
  color: black;
  text-shadow: 0px 0px 1px black;
  border-color: transparent;
  border-radius: 100px;
  font-size: xx-large;
  font-family: Garamond, serif;
  backdrop-filter: sepia(100%) blur(30px);
 
}

#card-header-splash {
  border-color: transparent;
  text-align: center;
  background-color: transparent;
}

#card-title-splash {
  font-size: xx-large;
}

#hat-btn {
  background-color: black;
  border-color: transparent;
  color: gainsboro;
  text-shadow: 0px 0px 1px whitesmoke;
  

}

#hat-btn:hover {
  background-color: #626262;
}

#hat-btn:active, #hat-btn:focus {
  background: linear-gradient(to right, #1c0000, #5b4a08, #362f7c, #001400);
  
}

#sort-form {
  font-family: Garamond, serif;
  margin-top: 40%;
  
}


#input-name {
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: black;
}
#button-addon2 {
  background-color: black;
  color: gainsboro;
}

#button-addon2:hover {
  background-color: #626262;
}

#button-addon2:active, #button-addon2:focus {
  background: linear-gradient(to right, #1c0000, #5b4a08, #362f7c, #001400);
}

#studentsNotStudents {
  display: flex;
  width: 85%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

}




#student-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 20px;
  font-family: Garamond, serif;
  width: 100%;
}

#deatheaters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 20px;
  font-family: Garamond, serif;
  width: 100%;
}

.studentCard {
height: 180px;
width: 260px;
background-color: transparent;
backdrop-filter: sepia(100%) blur(45px);
font-weight: bolder;

}

.deatheaterCard {
height: 240px;
width: 260px;
background-color: transparent;
backdrop-filter: sepia(100%) blur(45px);
font-weight: bolder;

}

.card-img {
  height: 180px;
  width: auto; 
}

.deatheater-card-img {
  height: 240px;
  width: auto
}

.cardBtn {
  width: 140px;
  height: 25px;
  margin: 5px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-size: .7em;
  color: gainsboro;
  background-color: black;
  border-color: black;

}

.deatheaterCardBtn1 {
font-size: .8em;
}

.deatheaterCardBtn2 {
  height: 50px;
}

.cardBtn:hover {
  background-color: #626262;
}

.cardBtn:active {
  background: linear-gradient(to right, #1c0000, #5b4a08, #362f7c, #001400);
}

#btn-row {
  display: flex;
  width: 60%;
  background-color: transparent;
  justify-content: space-evenly;
  margin-top: 40px;
}

#gryffindor-btn {
  width: 15%;
  border: 3px solid #780001;
  border-radius: 5px;
  background-color: black;
  color: gainsboro;
}

#hufflepuff-btn {
  width: 15%;
  border: 3px solid #EBBF16;
  border-radius: 5px;
  background-color: black;
  color: gainsboro;
}

#ravenclaw-btn {
  width: 15%;
  border: 3px solid #463EA3;
  border-radius: 5px;
  background-color: black;
  color: gainsboro;
}

#slytherin-btn {
  width: 15%;
  border: 3px solid #008A00;
  border-radius: 5px;
  background-color: black;
  color: gainsboro;
}

#hogwarts-btn {
  width: 15%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: black;
  color: gainsboro;
}

#btn-row > *:hover {
  background-color: #626262;
}

#btn-row > *:active {
  background: linear-gradient(to right, #1c0000, #5b4a08, #362f7c, #001400);
}
